<h1>ログイン</h1>
<%= form_with scope: :session, url: login_path, local: true do |f| %>
  <% if @error_txt %>
  <p style="color: red;"><%= @error_txt %>
  <% end %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit value="ログイン" %>
<% end %>

<div>
<td><%= link_to("トップ","/") %></td>
</div>
