<h1>タスク編集</h1>
<%= form_with model: @task, url: "/tasks/#{@task.id}/update",local:true do |f| %>
<% if @task.errors.any? %>
<% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% if @task.errors.include?(:name) %>
    <p style="color: red;"><%= @task.errors.full_messages_for(:name).first %>
    <% end %>
  </div>
  <div>
    <%= f.label :scheduled_on %>
    <%= f.date_field :scheduled_on %>
    <% if @task.errors.include?(:scheduled_on) %>
    <p style="color: red;"><%= @task.errors.full_messages_for(:scheduled_on).first %>
    <% end %>
  </div>
  <div><%= f.submit value="更新" %></div>
<% end %>

<%= link_to("一覧へ","/tasks/index") %>