<h1>タスク登録</h1>
<%= form_with model: @task, url: {controller: "tasks", action: "new"} do |f| %>
  <div><%= f.label :name %></div>
  <div><%= f.text_field :name %></div>
  <div><%= f.date_select :scheduled_on %>
  <div><%= f.submit value="登録" %></div>
<% end %>