<h1>ユーザー新規登録</h1>
<%= form_with model: @user, url: users_create_path do |f| %>
  <% if @user.errors.any? %>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% if @user.errors.include?(:name) %>
    <div class="alert alert-danger" role="alert"><%= @user.errors.full_messages_for(:name).first %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <% if @user.errors.include?(:email) %>
    <div class="alert alert-danger" role="alert"><%= @user.errors.full_messages_for(:email).first %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password %>
    <% if @user.errors.include?(:password) %>
    <div class="alert alert-danger" role="alert"><%= @user.errors.full_messages_for(:password).first %></div>
    <% end %>
    </div>
  <div>
    <%= f.label :password_confirmation, "確認" %>
    <%= f.password_field :password_confirmation %>
    <% if @user.errors.include?(:password_confirmation) %>
      <div class="alert alert-danger" role="alert"><%= @user.errors.full_messages_for(:password_confirmation).first %><
    <% end %>
  </div>
  <div>
    <%= f.submit valuew="登録" %>
  </div>
<% end %>

<div>
<td><%= link_to("トップ","/") %></td>
</div>