<div class="container">
<h1>TODOはじめましょう</h1>
</div>
<%= flash[:notice] %>
<% if @current_user %>
  <div>
    <%= link_to("ログアウト", "/logout", {method: "delete"}) %>
    <%= link_to("タスク一覧", "/tasks/index") %>
    <%= link_to("退会","/users/#{@current_user.id}/destroy", {method: "delete"}) %>
    </div>
<% else %>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <%= link_to("新規ユーザー登録","/users/new", class:"btn btn-primary btn-info mx-auto d-block") %>
    </div>
    <div class="col-xl-12">
      <%= link_to("ログイン","/login", class:"btn btn-primary btn-info mx-auto d-block") %>
    </div>
  </div>
</div>
<% end %>
